<style type="text/css">
    p {
        margin: 15px 0px 3px 0px;
        font-weight: bold;
        font-size: 18px;
    }

    th {
        background: #0084cf;
        color: #ffffff;
    }
</style>

<p style="color: red">{{ data.head.content }}</p>

{% for dItme in data.body %}
    {% if dItme.href %}
        <a href={{ dItme.href }}><p style="color: red">{{ dItme.title }}
        </p></a>
    {% else %}
        <p style="color: red">{{ dItem.title }}}
        </p>
    {% endif %}

    <table border="1" style="text-align: center">

        <tr>
            {% for col in dItme.columns %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>

        {% for row in dItme.rows %}
            <tr>
                {% for key,value in row.items() %}
                    <td>{{ value }}</td>
                {% endfor %}

            </tr>
        {% endfor %}


    </table>


{% endfor %}





